<h1>Insert the form to create a new instance of your model.</h1>
<form action="/users" method="POST">
  <p>Email:
    <input name="user[email]" type="text" />
  </p>
  <p>Username:
    <input name="user[username]" type="text" />
  </p>
  <p>Password:
    <input name="user[password]" type="password" />
  </p>
  <p>
    <input type="submit" value="Create Account" />
  </p>
</form>
